<template>
  <section>
    <div class="text-center">
      <b-spinner label="Spinning"></b-spinner>
      <b-spinner type="grow" label="Spinning"></b-spinner>
      <b-spinner variant="primary" label="Spinning"></b-spinner>
      <b-spinner variant="primary" type="grow" label="Spinning"></b-spinner>
      <b-spinner variant="success" label="Spinning"></b-spinner>
      <b-spinner variant="success" type="grow" label="Spinning"></b-spinner>


      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group id="input-group-1" label="Your Name:" label-for="input-2">
          <b-form-input id="input-1" v-model="form.name" required placeholder="Enter name"></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-2" label="Your Fore name:" label-for="input-3">
          <b-form-input id="input-2" v-model="form.Forename" required placeholder="Your Fore name"></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-3" label="Your City:" label-for="input-4">
          <b-form-input
            id="input-3"
            v-model="form.city"
            required
            placeholder="Enter pleas your City"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-4" label="Your Zip Code:" label-for="input-5">
          <b-form-input
            id="input-4"
            v-model="form.zip_code"
            required
            placeholder="Enter your Zip Code"
          ></b-form-input>
        </b-form-group>

        <b-form @submit.stop.prevent>
          <label for="text-password">Password</label>
          <b-input type="password" id="text-password" aria-describedby="password-help-block"></b-input>
          <b-form-text id="password-help-block">
            Your password must be 8-20 characters long, contain letters and numbers, and must not
            contain spaces, special characters, or emoji.
          </b-form-text>
        </b-form>
        <b-form-group id="input-group-5">
          <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
            <b-form-checkbox value="me">Check me out</b-form-checkbox>
            <b-form-checkbox value="that">Check that out</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>

        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>

    </div>
  </section>
</template>

<script>
// import axios from "axios";

// const baseURL = "http://localhost:3000/todos";

// export default {
//   name: "formulaire",
//   data() {
//     return {
//       formulaires: [],
//       formuName: "",
//       form:{
//           name: '',
//           fore_name: '',
//           City: '',
//           Zip_code: '',
//           password:''
//         },
//     };
//   },
//   async created() {
//     try {
//       const res = await axios.get(baseURL);

//       this.formulaires = res.data;
//     } catch (e) {
//       console.error(e);
//     }
//   },
//   methods: {
//     async addFormu() {
//       const res = await axios.post(baseURL, { name: this.formuName });

//       this.formulaires = [...this.formulaires, res.data];

//       this.formuName = "";
//     }
//   }
// };

// // <template>
// //         <div id="app">
// //           <h1>Formulaires</h1>
// //           <input type="text" v-model="formuName" @keyup.enter="addFormu" />
// //           <ul>
// //             <li v-for="formu of formulaires" :key="formu.id">{{formu.name}}</li>
// //           </ul>
// //         </div>
// //       </template>
// </script>
<script>
  export default {
    name:'formulaire',
    data() {
      return {
        form: {
          name: '',
          fore_name: '',
          City: '',
          zip_code: '',
          password:''

        },

        show: true
      }
    },
    methods: {
      onSubmit(evt) {
        
        this.$emit('addUti',Object.assign({}, this.form));
      },
      onReset(evt) {
        evt.preventDefault();
        // Reset our form values
        this.form.name = ''
        this.form.fore_name = ''
        this.form.city = ''
        this.form.zip_code = ''
        this.form.password=''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>
<style>
h4 {
  color: salmon;
}
</style>
