<template>

  <div>
<template slot="action" slot-scope="data">
          <a  @click="onSubmit(data.item.id)"><i class="fas fa-trash-alt"></i></a>
        </template>
    <b-table small :fields="fields" :items="items">
      <!-- A virtual column -->
      <template slot="index" slot-scope="data">{{ data.index + 1 }}</template>

      <!-- A custom formatted column -->
      <template slot="name" slot-scope="data">{{ data.value.first }} {{ data.value.last }}</template>

      <!-- A virtual composite column -->
      <template
        slot="city_zip_code"
        slot-scope="data"
      >{{ data.item.name.city }} habite à {{ data.item.zip_code }}</template>

    </b-table>
  </div>
</template>

<script>
export default {
  name: 'gestionutilisateur',
  data() {
    return {
      fields: [
        // A virtual column that doesn't exist in items
        "index",
        // A column that needs custom formatting
        { key: "name", label: "Full Name" },
        // A regular column
        "city",
        // A regular column
        "zip_code",
        // A virtual column made up from two fields
        { key: "city_zip_code", label: "City and Zip Code" }
      ],
      items: [
        {
          name: { first: "John", last: "Doe" },
          city: "Paris",
          zip_code: 75018
        },
        {
          name: { first: "Jane", last: "Doe" },
          city: "Tunis",
          zip_code: 92000
        },
        {
          name: { first: "Rubin", last: "Kincade" },
          city: "Canada",
          zip_code: 95000
        },
        {
          name: { first: "Shirley", last: "Partridge" },
          city: "Nice",
          zip_code: 62000
        }
      ]
    };
  }
};
</script>
