<template>
  <section>
    <img
      src="../assets/photo.jpg"
      alt="j'aime cette photo"
      id="icon"
      style="width: 100%; height: 300px;"
    />
    <hr/>
    <formulaire class="maclass" @formulaire="ev => formulaire(ev)"></formulaire>
    <gestionutlisateurs class="maclass" :utilisateur="tabUti" @removeUti="removeUti"></gestionutlisateurs>
  </section>
</template>
<script>
import formulaire from "./formulaire.vue";
import gestionutilisateur from "./gestionutilisateur.vue";

export default {
  name: "mapage",
  components: {
    formulaire,
    gestionutilisateur
  }
};
</script>

