<template>
  <div id="app">
    <!-- <First></First> -->
    <mapage></mapage>
   <formulaire></formulaire>
   <gestionutilisateur></gestionutilisateur>
  </div>
</template>

<script>
import mapage from'./components/mapage';
import formulaire from './components/formulaire.vue';
import gestionutilisateur from './components/gestionutilisateur.vue';

export default {
    name:'app',
    components: {
        mapage,
        formulaire,
        gestionutilisateur
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
